<layout name="layout" />

<div class="list-div" id="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
			<tbody>
				<tr>
					<th>分类名称</th>
					<th>商品数量</th>
					<th>数量单位</th>
					<th>操作</th>
				</tr>
        <?php foreach($data as $cat){ ?>
				<tr align="center" class="<?php echo $cat['level']?>" id="<?php echo $cat['level']?>_<?php echo $cat['cat_id']?>">
					<td align="left" class="first-cell">
						<img id="icon_<?php echo $cat['level']?>_<?php echo $cat['cat_id']?>" src="__PUBLIC__/Admin/Images/menu_minus.gif"  width="9" height="9" border="0" style="margin-left:0em" onclick="rowClicked(this)">
						<span><?php echo str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", $cat['level']).$cat['cat_name']?></span>
					 </td>
					<td width="20%"></td>
					<td width="20%"><?php echo $cat['unit']?></td>
					<td width="24%" align="center">
						<a href="{:U('edit?id='.$cat['cat_id'])}" title="编辑"><img id="img_edit" src="__PUBLIC__/Admin/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
						<a href="{:U('delete?id='.$cat['cat_id'])}" onclick="return confirm('你确定要删除吗？');" title="回收站"><img id="img_trash" src="__PUBLIC__/Admin/Images/icon_trash.gif" width="16" height="16" border="0" /></a>
					</td>
				</tr>
        <?php } ?>

	</tbody>
  </table>
</div>
</form>

  </table>
</div>
</form>


<div id="footer">
	版权所有 &copy; 2012-2013 传智播客 - PHP培训 - </div>
</div>
 <script>
	/**
 * 折叠分类列表
 */
var imgPlus = new Image();
imgPlus.src = "__PUBLIC__/Admin/Images/menu_plus.gif";

function rowClicked(obj)
{
  // 当前图像
  img = obj;
  // 取得上二级tr>td>img对象
  obj = obj.parentNode.parentNode;
  // 整个分类列表表格
  var tbl = document.getElementById("list-table");
  // 当前分类级别
  var lvl = parseInt(obj.className);
  // 是否找到元素
  var fnd = false;
  var sub_display = img.src.indexOf('menu_minus.gif') > 0 ? 'none' : 'table-row' ;
  // 遍历所有的分类
  for (i = 0; i < tbl.rows.length; i++)
  {
      var row = tbl.rows[i];
      if (row == obj)
      {
          // 找到当前行
          fnd = true;
          //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
      }
      else
      {
          if (fnd == true)
          {
              var cur = parseInt(row.className);
              var icon = 'icon_' + row.id;
              if (cur > lvl)
              {
                  row.style.display = sub_display;
                  if (sub_display != 'none')
                  {
                      var iconimg = document.getElementById(icon);
                      iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
                  }
              }
              else
              {
                  fnd = false;
                  break;
              }
          }
      }
  }

  for (i = 0; i < obj.cells[0].childNodes.length; i++)
  {
      var imgObj = obj.cells[0].childNodes[i];
      if (imgObj.tagName == "IMG" && imgObj.src != '__PUBLIC__/Admin/Images/menu_arrow.gif')
      {
          imgObj.src = (imgObj.src == imgPlus.src) ? '__PUBLIC__/Admin/Images/menu_minus.gif' : imgPlus.src;
      }
  }
}
</script>


<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/Js/tron.js"></script>
